In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [11]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.00, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [12]:
# Import citipy
from citipy import citipy

In [13]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

623

In [14]:
# Import the dependencies.
import requests
from config import weather_api_key

In [15]:
url = "https://api.openweathermap.org/data/2.5/weather?units=imperial&appid=" + weather_api_key

In [16]:
# Import the time library and the datetime module from the datetime library.
import time
from datetime import datetime

In [17]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [18]:
# Loop through all the cities in our list.
for i, city in enumerate(cities):
    
    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)
        
    # Create endpoint URL with each city.
        city_url = url + "&q=" + city.replace(" ","+")
        
        # Log the URL, record, and set numbers and the city.
        print(f"Processing Record {record_count} of Set {set_count} | {city}")
        # Add 1 to the record count.
        record_count += 1
        
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 2 | severo-kurilsk
Processing Record 1 of Set 3 | saquarema
Processing Record 1 of Set 4 | pittsfield
Processing Record 1 of Set 5 | sapa
Processing Record 1 of Set 6 | san cristobal
Processing Record 1 of Set 7 | bokspits
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
City not found. Skipping...
Processing Record 1 of Set 8 | shumskiy
Processing Record 1 of Set 9 | airai
Processing Record 1 of Set 10 | taltal
Processing Record 1 of Set 11 | north myrtle beach
Processing Record 1 of Set 12 | ulaangom
Processing Record 1 of Set 13 | saint-georges
-----------------------------
Data Retrieval Complete
-----------------------------

In [19]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cabo San Lucas,34.5334,-82.6499,74.28,81,0,12.66,US,2022-03-23 23:09:15
1,Vaitupu,34.5334,-82.6499,74.28,81,0,12.66,US,2022-03-23 23:09:15
2,Ushuaia,34.5334,-82.6499,74.28,81,0,12.66,US,2022-03-23 23:09:15
3,Margate,34.5334,-82.6499,74.28,81,0,12.66,US,2022-03-23 23:09:15
4,Punta Arenas,34.5334,-82.6499,74.28,81,0,12.66,US,2022-03-23 23:09:15
5,Lisakovsk,34.5334,-82.6499,74.28,81,0,12.66,US,2022-03-23 23:09:15
6,Hilo,34.5334,-82.6499,74.28,81,0,12.66,US,2022-03-23 23:09:15
7,Coquimbo,34.5334,-82.6499,74.28,81,0,12.66,US,2022-03-23 23:09:15
8,Talnakh,34.5334,-82.6499,74.28,81,0,12.66,US,2022-03-23 23:09:15
9,Kodiak,34.5334,-82.6499,74.28,81,0,12.66,US,2022-03-23 23:09:15

In [20]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Cabo San Lucas,US,2022-03-23 23:09:15,34.5334,-82.6499,74.28,81,0,12.66
1,Vaitupu,US,2022-03-23 23:09:15,34.5334,-82.6499,74.28,81,0,12.66
2,Ushuaia,US,2022-03-23 23:09:15,34.5334,-82.6499,74.28,81,0,12.66
3,Margate,US,2022-03-23 23:09:15,34.5334,-82.6499,74.28,81,0,12.66
4,Punta Arenas,US,2022-03-23 23:09:15,34.5334,-82.6499,74.28,81,0,12.66
5,Lisakovsk,US,2022-03-23 23:09:15,34.5334,-82.6499,74.28,81,0,12.66
6,Hilo,US,2022-03-23 23:09:15,34.5334,-82.6499,74.28,81,0,12.66
7,Coquimbo,US,2022-03-23 23:09:15,34.5334,-82.6499,74.28,81,0,12.66
8,Talnakh,US,2022-03-23 23:09:15,34.5334,-82.6499,74.28,81,0,12.66
9,Kodiak,US,2022-03-23 23:09:15,34.5334,-82.6499,74.28,81,0,12.66

In [22]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")